/* our story styles */

.ourstory-wrapper{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 7rem;
}

.ourstory-title,
.ourgoals-title {
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--black-1);
    margin-bottom: 1rem;
}


.ourstory-subtitle{
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--black-1);
    margin-bottom: 2rem;
}

.ourstory-text, 
.ourgoals-text{
    font-size: 1.4rem;
    line-height: 1.4em;
    color: var(--black-2);
}

.ourstory-info{
    margin-top: 5rem;
    align-items: center;

}

@media only screen and (min-width: 768px) {
    .ourstory-wrapper{
        flex-direction: row;
        gap: 3rem;
    }
    

    .ourstory-img,
    .ourstory-info{
        flex: 1;
    }

    .ourstory-img{
        margin-bottom: 2rem;
    }

    .ourstory-title, 
    .ourgoals-title{
        font-size: 3.6rem;    
    }

    .ourstory-subtitle{
        font-size: 1.8rem;
    }

    .ourstory-text,
    .ourgoals-text{
        font-size: 1.8rem;
        max-width: 800px;
        margin-bottom: 2rem;
    }
}


/* Our goals Styles */

.ourgoals-info{
    text-align: left;
    margin-bottom: 5rem;
}


.ourgoals-imgs-wrapper img{
    object-fit: cover;

}

.ourgoals-imgs-wrapper{
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
}

.ourgoals-img1{
    grid-row: 1/3;
}

@media only screen and (min-width: 768px) {
    .ourgoals-info{
        text-align: center;
    }
    
    .ourgoals-imgs-wrapper{
        gap: 2rem;

    }

    .ourgoals-text{
        margin: 0 auto;
    }
}

