/*--Page title--*/
#page-title {
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.page-title-text {
  font-size: 2.2rem;
  color: var(--black-1);
  font-weight: 500;
}

@media only screen and (min-width: 768px) {
  #page-title {
    padding-top: 5rem;
    padding-bottom: 3rem;
  }

  .page-title-text {
    font-size: 3.6rem;
    font-weight: 500;
  }
}

/*--Ourspecials Styles--*/

#ourspecials {
  padding: 0;
}

.ourspecials-title {
  font-size: 1.8rem;
  color: var(--black-1);
  margin-bottom: 2rem;
}

.ourspecials-wrapper {
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  max-width: 400px;
}

.ourspecials-item {
  flex: 1;
  display: flex;
  gap: 2rem;
  background-color: var(--Lightgreen-1);
  padding: 1.5rem;
  border-radius: 12px;
}

.ourspecials-item-img,
.ourspecials-item-info {
  flex: 1;
}

.ourspecials-item-img {
  border-radius: 12px;
  overflow: hidden;
  height: 200px;
}

.ourspecials-item-img img {
  object-fit: cover;
}

.ourspecials-item-title {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: var(--black-1);
  line-height: 1.2em;
}

.ourspecials-item-price {
  font-size: 1.8rem;
  color: var(--green-1);
  font-weight: 600;
  margin-bottom: 1rem;
}

.ourspecials-item-stars {
  width: max-content;
}

@media only screen and (min-width: 768px) {
  .ourspecials-item {
    font-size: 2.4rem;
  }

  .ourspecials-wrapper {
    flex-direction: row;
    gap: 2rem;
    max-width: none;
  }

  .ourspecials-item {
    padding: 3rem;
    gap: 2rem;
  }

  .ourspecials-item-title {
    font-size: 3rem;
    margin-bottom: 1.5rem;
  }

  .ourspecials-item-price {
    font-size: 2.4rem;
    margin-bottom: 1.5rem;
  }
}

@media only screen and (min-width: 1100px) {
  .ourspecials-item-img {
    flex: 4;
  }

  .ourspecials-item-info {
    flex: 3;
  }
}

/* Disgrid styles */

#dishgrid {
  padding-bottom: 0;
}

#dishgrid:last-of-type {
  padding-bottom: 10rem;
}
